<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AI Ethics Blog</title>
  <link rel="stylesheet" href="/css/jass.css">
  <link rel="stylesheet" href="/css/style.css">
</head>

<body>
  <div class="flex-column justify-space-around">
    <header class="display-flex justify-space-between align-center p-2">
      <h1>
        <a href="/">AI Ethics Blog</a>
      </h1>
      <nav>
        <ul class="flex-row">
          <li class='li-inline nav-item'><a href='/'>Home</a></li>
          <li class='li-inline nav-item'><a href='/dashboard'>Dashboard</a></li>
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <li class='li-inline nav-item'><a href="#" id="logout">Logout</a>
            {{else}}
          <li class='li-inline nav-item'><a href="/login">Login</a></li>
          {{/if}}
        </ul>
      </nav>
    </header>
    <section class='hero'>
      {{#if dashboard}}
      <h1 class='app-title'><a href='/dashboard'>Your Dashboard</a></h1>
      {{!-- {{else}}
      <h1 class='app-title'><a href='/'>The Tech Blog</a></h1> --}}
      {{/if}}
    </section>
    <main class="container container-fluid mt-5">
      <!-- Render the sub layout -->
      {{{ body }}}
    </main>
    {{#if dashboard}}
    <footer class='footer flex-row justify-center'>
      <a href='/dashboard/new'>➕ New Post</a>
    </footer>
    {{else}}
    <footer class='flex-row justify-center'>
      &copy; New Age Ethics
    </footer>
    {{/if}}

    {{#if loggedIn}}
    <script src='/js/logout.js'></script>
    {{/if}}
  </div>


</body>

</html>