<div class="row">
      <div class="col-md-6">
    <h2>Join</h2>

    <form class="form signup-form" id="signup-form">
      <div class="form-group">
        <label for="name-signup">Username:</label>
        <input class="form-input" type="text" id="username-input-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-input-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Join</button>
        <a class="btn btn-primary" href="/login">Return to Login?</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/join.js"></script>