<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form" id="login-form">
      <div class="form-group">
        <label for="username-input-login">Username:</label>
        <input type="text" id="username-input-login" />
      </div>
      <div class="form-group">
        <label for="password-input-login">Password:</label>
        <input type="password" id="password-input-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit" id="login-btn">Login</button>
        <a class="btn btn-primary" type="button" href="/join">New User? Join instead</a>
      </div>
    </form>
  </div>
</div>

<script src="/js/login.js"></script>